:root {
  --color-bg: #FBF9F6;
  --color-text: #222222;
  --color-red: #EFA8A8;
  --color-green: #AFD6D5;
  --color-white: white;

  --font-family-header: 'DM Serif Display', serif;
  --font-family-body: Georgia, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  --normal-font-size: 16px;

  --header-height: 100px;
}

.Button {
  cursor: pointer;
  user-select: none;
}

.CallToAction {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
  transition: 100ms ease transform;

  font-size: 18px;
}

.CallToAction:hover {
  background-color: var(--color-text);
  transform: scale(1.05);
}

.CallToAction:active {
  transform: scale(0.95);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);

  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--normal-font-size);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: none;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4 {
  font-family: var(--font-family-header);
}
