.HeaderWrap {
    width: 100%;
    height: var(--header-height);
    background: var(--color-white);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.LogoWrap {
    margin-left: 50px;
    user-select: none;
    cursor: pointer;
}

.MenuWrap {
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.NavLink {
    font-weight: 400;
    font-size: 18px;
}

.NavLink:hover {
    color: var(--color-red);
}

.OpenMenuIcon, .CloseMenuIcon {
    display: none;
}


@media screen and (max-width: 810px) {

    .OpenMenuIcon, .CloseMenuIcon {
        display: block;
    }

    .OpenMenuIcon {
        margin-right: 20px;
        cursor: pointer;
    }

    .OpenMenuIcon:hover {
        color: var(--color-red);
    }

    .HeaderWrap {
        position: static;
    }

    .MenuClosed {
        display: none;
    }

    .MenuWrap {
        z-index: 100;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: white;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .NavLink {
        font-size: 40px;
        font-family: var(--font-family-header);
    }

    .CloseMenuIcon {
        font-size: 20px;
        cursor: pointer;
    }
}