.WhySlideWrap {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.WhySlideTitle {
    font-family: var(--font-family-header);
    font-size: 79px;
    transform-origin: right bottom;
    transform: rotate(-90deg);
    position: absolute;
    top: -200px;
    left: -672px;
    width: calc(100vh - var(--header-height));
}

.WhySlideElement {
    height: 100%;
    width: 800px;
    position: relative;
    overflow: hidden;
}

.WhySlideTitleElement {
    width: 200px;
}

.WhySlideFact {
    background-color: white;
}

.FactTextWrap {
    padding: 20px;
}

.FactTitle {
    font-size: 30px;
}

.FactDescription {
    font-size: 18px;
}

.FactImage {
    position: relative;
    height: 80%;
}

@media screen and (max-width: 1200px) {

    .WhySlideWrap {
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 5px;
    }

    .WhySlideElement {
        width: 100%;
        margin: 10px 0 10px 0;
    }

    .WhySlideTitle {
        transform-origin: right bottom;
        transform: rotate(0);
        position: unset;
        width: 100%;
        text-align: center;
        font-size: 50px;
    }

    .FactImage {
        height: 300px;
    }
}
